body {
  overflow-x: hidden;
}

.soft-grey-bg {
  background-color: #eee !important;
}

.header-frontpage {
  background: url('../assets/hero-bg.jpg') no-repeat fixed center;
  height: 300px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.61);
}

.logout-button {
  margin-top: 20px;
}

.vozime-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.nounderline {
  text-decoration: none !important
}

.bg-yellow {
  background-color: #ffa500;
}

.padded-top {
  padding-top: 5vh;
}

.about-us {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #eee;
}

.error {
  color: red;
}
