body{
  background-color: #272524 !important;
  overflow-x: hidden;
}
.login-form-gradient {
/* old browsers */
background: #ffa500;

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.login-form-gradient {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
.error {
  color: red;
}
}
