body {
    background: #eee;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.labels {
    font-size: 12px;
}

.container{
  max-width:70%!important;
}
